{% extends 'main/html_template.html' %}

{% load static %}
{% load jinja_filters %}

{% block title %}Профиль арендодателя{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'organizers\css\profile_schedule.css' %}">
{% endblock %}

{% block content %}
<div class="main-str">

    <h1 class="text-white">Мои записи</h1>

    <div class="entries-block">
        <ul>
            {% for entry in entries %}
                <li>
                    <div class="entry">
                        <p>Дата: {{ entry.date|get_date }}</p>
                        <p>ФИО: {{ entry.client.user.last_name }} {{ entry.client.user.first_name }} {{ entry.client.middle_name }}</p>
                        <p>Контакты: {{ entry.client.phone_number }}, {{ entry.client.user.email }} </p>
                        <p>Площадка: <a href="{% url 'show_platform_description' platform_id=entry.platform.id %}">{{ entry.platform.name }}</a></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}