{% extends 'main/html_template.html' %}

{% load static %}

{% block title %}Профиль арендодателя{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'organizers\css\profile.css' %}">
{% endblock %}

{% block content %}
<div class="main-str">
    {% if has_errors %}
        <div style="display: none" id="form_has_errors">
        </div>
    {% endif %}

    <h1 class="text-white hat-of-profile">Мой профиль</h1>
    <br>

    <form method="POST" enctype='multipart/form-data' action="" id="profile_changing_form">
        {% if organizer_errors.incorrect_form %}
            <div class="form_alert">
                <p>Некорректные данные формы</p>
            </div>
        {% endif %}

        <div class="main-form">
            <div class="form-group">
                <label class="text-muted">Email</label>
                {{ user_organizer_registration_form.email }}
                {% for error in organizer_errors.email %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Фамилия</label>
                {{ user_organizer_registration_form.last_name }}
                {% for error in organizer_errors.last_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Имя</label>
                {{ user_organizer_registration_form.first_name }}
                {% for error in organizer_errors.first_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

             <div class="form-group">
                <label class="text-muted">Отчество</label>
                {{ profile_organizer_registration_form.middle_name }}
                {% for error in organizer_errors.middle_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Номер телефона</label>
                {{ profile_organizer_registration_form.phone_number }}
                {% for error in organizer_errors.phone_number %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Позиция в компании</label>
                {{ profile_organizer_registration_form.position }}
                {% for error in organizer_errors.position %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Юридическое имя</label>
                {{ profile_organizer_registration_form.juridical_name }}
                {% for error in organizer_errors.juridical_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">ИНН</label>
                {{ profile_organizer_registration_form.inn }}
                {% for error in organizer_errors.inn %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            {% csrf_token %}
            <button type="button" class="btn change-profile" id="change_profile_button">Изменить профиль</button>
        </div>
    </form>
    <script src="{% static 'organizers\js\profile.js' %}"></script>
</div>

{% endblock %}