{% extends 'main/html_template.html' %}

{% load static %}
{% load jinja_filters %}

{% block title %}Профиль арендодателя{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'organizers\css\profile_schedule.css' %}">
{% endblock %}

{% block content %}
<div class="text-white main-str">

    <h1 class="text-white">Мои записи</h1>

    <div class="entries-block">
        <ul>
            {% for entry in entries %}
                <li>
                    <div class="entry">
                        <div class="str">
                            <p class="title-str">Дата:</p>
                            <p>{{ entry.date|get_date }}</p>
                        </div>

                        <div class="str">
                            <p class="title-str">Адрес: </p>
                            <p>{{ entry.platform.address|key:"address_text" }}</p>
                        </div>

                        <div class="str">
                            <p class="title-str">Контакты: </p>
                            <p>{{ entry.platform.organizer.phone_number }}</p>
                        </div>
                        <div class="str">
                            <p class="title-str">Email: </p>
                            <p>{{ entry.platform.organizer.user.email }}</p>
                        </div>
                        <div class="str">
                            <p class="title-str">Площадка: </p>
                            <p><a href="{% url 'show_platform_description' platform_id=entry.platform.id %}">{{ entry.platform.name }}</a></p>
                        </div>
                        <div class="str">
                            <p class="title-str">Цена: </p>
                            <p>1000</p>
                        </div>
                        <div>
                            <button class="btn delete">Удалить запись</button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}