{% extends 'main/html_template.html' %}

{% load static %}

{% block title %}Профиль арендодателя{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'organizers\css\profile.css' %}">
{% endblock %}

{% block content %}
    <div class="main-str">
        <h1 class="text-white hat-of-profile">Мой профиль</h1>
        <br>

        <form method="post" enctype='multipart/form-data' action="{{ url_path }}">
            <input name="__organizer_register" type="hidden">

            {% if organizer_errors.incorrect_form %}
                <div class="form_alert">
                    <p>Некорректные данные формы</p>
                </div>
            {% endif %}

            <div class="main-form">
                <label class="text-muted">Email</label>
                <span class="email" > {{ email }}</span>

                <div class="form-group">
                    <label class="text-muted">Фамилия</label>
                    {{ user_organizer_registration_form.last_name }}
                    {% for error in organizer_errors.last_name %}
                        <div class="form_alert">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label class="text-muted">Имя</label>
                    {{ user_organizer_registration_form.first_name }}
                    {% for error in organizer_errors.first_name %}
                        <div class="form_alert">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>

                 <div class="form-group">
                    <label class="text-muted">Отчество</label>
                    {{ profile_organizer_registration_form.middle_name }}
                    {% for error in organizer_errors.middle_name %}
                        <div class="form_alert">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label class="text-muted">Номер телефона</label>
                    {{ profile_organizer_registration_form.phone_number }}
                    {% for error in organizer_errors.phone_number %}
                        <div class="form_alert">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label class="text-muted">Позиция в компании</label>
                    {{ profile_organizer_registration_form.position }}
                    {% for error in organizer_errors.position %}
                        <div class="form_alert">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>

                 <div class="form-group">
                    <label class="text-muted">Юридическое имя</label>
                    {{ profile_organizer_registration_form.juridical_name }}
                    {% for error in organizer_errors.juridical_name %}
                        <div class="form_alert">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label class="text-muted">ИНН</label>
                    {{ profile_organizer_registration_form.inn }}
                    {% for error in organizer_errors.inn %}
                        <div class="form_alert">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <button class="btn change-profile">Изменить профиль</button>
            </div>
            
        </form>
    </div>
    
{% endblock %}