.main-str {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    width: 80%;
    margin: 3% auto;
    padding: 2%;
    border-radius: 7px;
    color: #fff;
    backdrop-filter: blur(100px);
    background: rgba(171, 174, 255, 0.05);
}

.str {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage {
    border-radius: 7px;
    width: 95%;
    height: 90%;
    margin-top: 2%;
}

.carousel-indicators {
    z-index: 1;
}

.photo {
    background: #10131e;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.name-company {
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.name-company p {
    margin-bottom: 2px;
}

.p-name {
    font-family: 'Cera Pro Bold';
    font-size: 40px;
}

.p-type {
    font-size: 20px;
    white-space: pre-wrap;
}

.cols-info {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 30px;
}

.info {
    width: 60%;
    margin: 0% 2%;
}

.tops {
    width: 30%;
    margin: 0% 2%;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating p {
    margin-bottom: 0;
}

.p1 {
    font-size: 30px;
    font-family: 'Cera Pro Bold';
}

.stars {
    margin-right: 5px;
}

.stars-pointer {
    cursor: pointer;
}

.comment {
    margin-left: 15%;
}

.amount-reviews {
    margin-left: 1%;
}

/*календарь*/

#calendar {
    margin-top: 50px;
}

.authorize-window{
    display: none;
    justify-content: center;
    align-items: center;
}

.calendar-window-form {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    background: #1d2d4b;
    border-radius: 7px;
    width: 50%;
    height: max-content;
    padding: 3%;
    color: #fff;
}

.icons-in-form{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.icons-in-form .date img, .offert img{
    height: 25%;
    width: 25%;
    margin-bottom: 5%;
    filter: drop-shadow(4px 4px 2px #797979);
}

.price img{
    height: 30%;
    width: 30%;
    margin-bottom: 5%;
    filter: drop-shadow(4px 4px 2px #797979);
}

.icons-in-form div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.calendar-window-form a{
    color: #fff;
}

.calendar-window-form a:hover{
    color: #2552AD;
}

.calendar-window-form h5, .book{
    margin-top: 2%;
}

.form-book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 4%;
}

.but-in-form{
    width: 70%;
}

.book {
    width: 100%;
    background-color: #E74362;
    font-family: 'Cera Pro Bold';
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 1% 2%;
    border-radius: 7px;
}

.book-info{
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
}
.enter{
    margin-top: 5%;
    font-size: 18px;
    background: #E74362;
    padding: 15% 75%;
    border: none;
    border-radius: 7px;
    color: #fff;
}

.cell_is_busy{
    background: #1E1E1E;
    color: #fff;
}

.delete-note{
    background-color: #e74343;
}

.block-slot {
    background-color: #5e5d5f;
}

.look-info {
    background-color: #2c89d0e3;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.action {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 5% auto;
}

.action button{
    font-family: 'Cera Pro Bold';
    color: #fff;
    padding: 2% 5%;
    height: 100%;
    width: 100%;
}

.send {
    background: #878787;

}

.apply {
    background: #57b051;
}

.delete {
    background: #e63c3c;
    margin-left: 1%;
    margin-right: 1%;
}

.confirmation-window {
    background: #2e2e5a;
    padding: 3% 7%;
    border-radius: 7px;
    display: grid;
    justify-items: stretch;
    grid-gap: 25%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.form-orig {
    display: flex;
    justify-content: center;
    width: 70%;
}
.form-orig button {
    color: #fff;
    font-size: 14px;
    padding: 0 7%;
    border-radius: 7px;
}

/* Секция комментариев */
.form-comments {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 85%;
    height: max-content;
    margin: 0 auto;
    padding: 3%;
    border-radius: 7px;
    backdrop-filter: blur(50px);
    background: rgba(171, 174, 255, 0.05);
}

.comment-section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
    margin-bottom: 2%;
}

.add-comment-button {
    background: #E74362;
    color: #fff;
    font-family: 'Cera Pro Bold';
}

.one-comment {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2%;
    border-radius: 7px;
    border: 2px solid #c7c2c24f;
}

.hat-comment {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Cera Pro Bold';
    font-size: 20px;
}

.user-profile-link {
    text-decoration: none;
    color: #fff;
}

.top-stars{
    display: flex;
    flex-direction: row;
}

.text-comment{
    width: 80%;
    margin: 1% 3%   ;
}

.calendar-importing-file-field {
    width: 30%;
    margin: 15px auto;
}
/* Конец секции комментариев */
