.entries-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    width: 80%;
    margin: 3% auto;
    padding: 2%;
    border-radius: 7px;
    backdrop-filter: blur(50px);
    background: rgba(171, 174, 255, 0.05);
}