.main-str{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    width: 70%;
    margin: 3% auto;
    padding: 3% 2%;
    border-radius: 7px;
    backdrop-filter: blur(50px);
    background: rgba(171, 174, 255, 0.05);
}

h1{
    margin-left: 2% ;
}

.entries-block {
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
}

.entry {
    padding: 3%;
    margin: 1% 2%;
    background: #4b5569;
    border-radius: 5px;
    font-size: 1rem;  
    font-size: 18px;  
}

.main-str ul{
    padding: 0;
}

.str {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-str {
    font-size: 18px; 
    font-family: 'Cera Pro Bold';
    margin-right: 2%;   
}

.entry a{
    color: #04214c;
    font-family: 'Cera Pro Bold';
    font-size: 1.5rem;
}


.delete {
    background: #cc331f;
    color: #fff;
    font-family: 'Cera Pro Bold';
    border-radius: 7px;
}