{% extends 'main/html_template.html' %}

{% load static %}
{% load jinja_filters %}

{% block title %}Мои записи{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'clients\css\profile_entries.css' %}">
{% endblock %}

{% block content %}
<div class="main-str">
    <h1 class="text-white">Мои записи</h1>
    <div class="text-white entries-block">
        <ul>
            {% for entry in entries %}
                <li>
                    <div class="entry">
                        <p>Дата: {{ entry.date|get_date }}</p>
                        <p>Юр. лицо: {{ entry.platform.organizer.juridical_name }}</p>
                        <p>Контакты: {{ entry.platform.organizer.phone_number }}, {{ entry.platform.organizer.user.email }} </p>
                        <p>Площадка: <a href="{% url 'show_platform_description' platform_id=entry.platform.id %}">{{ entry.platform.name }}</a></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
