{% extends 'main/html_template.html' %}

{% load static %}
{% load jinja_filters %}

{% block title %}Мои записи{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'clients\css\profile_entries.css' %}">
{% endblock %}

{% block content %}
<div class="main-str">
    <h1 class="text-white">Мои записи</h1>

        <ul>
            {% for entry in entries %}
                <li>
                    <div class="entry">
                        <div class="str">
                            <p class="title-str">Дата:</p>
                            <p>{{ entry.date }}</p>
                        </div>

                        <div class="str">
                            <p class="title-str">Адрес: </p>
                            <p>{{ entry.platform.address|key:"address_text" }}</p>
                        </div>

                        <div class="str">
                            <p class="title-str">Контакты: </p>
                            <p>{{ entry.platform.organizer.phone_number }}</p>
                        </div>
                        <div class="str">
                            <p class="title-str">Email: </p>
                            <p>{{ entry.platform.organizer.user.email }}</p>
                        </div>
                        <div class="str">
                            <p class="title-str">Площадка: </p>
                            <p><a href="{% url 'show_platform_description' platform_id=entry.platform.id %}">{{ entry.platform.name }}</a></p>
                        </div>
                        <div class="str">
                            <p class="title-str">Цена: </p>
                            <p>{{ entry.price }} тыс. руб. </p>
                        </div>
                        <div>
                            <form method="post" action="{% url 'delete_entry' platform_id=entry.platform.id day=entry.date.day month=entry.date.month year=entry.date.year %}">
                                <input name="from_client_entries" type="hidden">
                                {% csrf_token %}
                                <button class="btn delete" type="submit">Удалить запись</button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

</div>
{% endblock %}
