{% extends 'main/html_template.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'clients\css\profile_entries.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-white">Профиль арендатора</h1>
    <span class="text-white">{{ email }}</span> <br>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-warning" type="submit">Выйти</button>
    </form>
    <h1>Здесь будут мои записи</h1>
{% endblock %}
