{% extends 'main/html_template.html' %}

{% block title %}Профиль{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'clients\css\profile.css' %}">
{% endblock %}

{% block content %}
<div class="main-str">
    {% if has_errors %}
        <div style="display: none" id="form_has_errors">
        </div>
    {% endif %}

    <h1 class="text-white hat-of-profile">Мой профиль</h1>
    <br>

    <form method="POST" enctype='multipart/form-data' action="" id="profile_changing_form">
        {% if client_errors.incorrect_form %}
            <div class="form_alert">
                <p>Некорректные данные формы</p>
            </div>
        {% endif %}

        <div class="main-form">
            <div class="form-group">
                <label class="text-muted">Email</label>
                {{ user_client_registration_form.email }}
                {% for error in client_errors.email %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Фамилия</label>
                <input class="email" type="" readonly name="Email" value="{{ user_organizer_registration_form.last_name }}">
                {% for error in organizer_errors.last_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
                {{ user_client_registration_form.last_name }}
                {% for error in client_errors.last_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Имя</label>
                <input class="email" type="" readonly name="Name" value="{{ user_organizer_registration_form.first_name }}">
                {% for error in organizer_errors.first_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

             <div class="form-group">
                <label class="text-muted">Отчество</label>
                <input class="email" type="" readonly name="Middle_name" value="{{ profile_organizer_registration_form.middle_name }}">
                {% for error in organizer_errors.middle_name %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="text-muted">Номер телефона</label>
                <input class="email" type="" readonly name="Phone_number" value="{{ profile_organizer_registration_form.phone_number }}">
                {% for error in organizer_errors.phone_number %}
                    <div class="form_alert">
                    {{ error }}
                    </div>
                {% endfor %}
            </div>

            <button class="btn change-profile">Изменить профиль</button>
        </div>

    </form>
</div>

{% endblock %}
