<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.e_mail }} <br>
    {{ form.password }} <br>
    <input type="password" placeholder="Повторите пароль" class="form-control"> <br>
    {{ form.name }} <br>
    {{ form.surname }} <br>
    {{ form.middle_name }} <br>
    {{ form.phone_number }} <br>
<button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>