{% extends 'main/html_template.html' %}

{% load static %}
{% load jinja_filters %}

{% block title %}Сброс пароля{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'organizers\css\profile.css' %}">
{% endblock %}

{% block content %}
    {% if error_status %}
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 60px">
            <p style="font-size: 30px; font-family: 'Cera Pro Bold'; color: #fff">{{ error_status }}</p>
        </div>
    {% else %}
        <div class="main-str">
            <h1 class="text-white hat-of-profile">Сброс пароля</h1>
            <br>
            <form method="POST" enctype='multipart/form-data' action="">
                {% if organizer_errors.incorrect_form %}
                    <div class="form_alert">
                        <p>Некорректные данные формы</p>
                    </div>
                {% endif %}

                <div class="main-form">
                    <div class="form-group">
                        <label class="text-muted">Новый пароль</label>
                        {{ form.password }}
                        {% for error in errors.password %}
                            <div class="form_alert">
                            {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Повтор пароля</label>
                        {{ form.repeat_password }}
                        {% for error in errors.repeat_password %}
                            <div class="form_alert">
                            {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    {% csrf_token %}
                    <button type="submit" class="btn change-profile">Сохранить</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
