{% extends 'main/html_template.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; margin-top: 60px">
    {% if error %}
        <p style="font-size: 40px; font-family: 'Cera Pro Bold'; color: #fff">{{ error }}</p>
    {% else %}
        <p style="font-size: 30px; font-family: 'Cera Pro Bold'; color: #fff">На почту {{ email }} отправлено письмо с инструкциями по сбросу пароля.</p>
    {% endif %}
</div>

{% endblock %}
