{% load static %}
{% load django_template_maths %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main\css\style.css' %}">
    <link rel="stylesheet" href="{% static 'main\css\modal.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% if drop_localstorage %}
    <div id="drop_localstorage"></div>
    {% endif %}

    <div class="header">
        <div class="container-fluid">
            <div class="container text-center" id="hat">

                <div class="row">
                    <div class="col" id="logo">
                        <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'main\img\aki.svg' %}" alt = "aki">
                        </a>
                    </div>
                    
                
                    <div class="col-6">
                        <form class="search" method="get" action="{% url 'show_page' page_id=1 %}">
                            <div class="bar">
                                {% if filter_request %}
                                    <input type="hidden" name="platform_categories" value="{{ filter_request }}"></input>
                                {% endif %}
                                <input name="search" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                                <!-- <input type="search" name="Поиск" placeholder="Поиск"> -->
                            </div>
                            <button class="button" type="submit">Поиск</button>
                        </form>
                    </div>
                    
                    <div class="col" id="three">
                        <div class="icons">
                            <a href="{% url 'show_page' page_id=1 %}" id="open-catalog">
                                <div class="catalog">
                                    <img src="{% static 'main\img\catalog.svg' %}">
                                    <p>Каталог</p>
                                </div>
                            </a>

                            {% if user_fields %}
                                {% if user_fields.client %}
                                    <a href="{% url 'show_client_profile' %}" id="open-profile">
                                {% else %}
                                    <a href="{% url 'show_organizer_profile' %}" id="open-profile">
                                {% endif %}
                                        <div class="user">
                                            <img src="{% static 'main\img\lk.svg' %}">
                                            <p>{{ user_fields.first_name }}</p>
                                        </div>
                                    </a>
                            {% else %}
                                <a href="#" id="open-user">
                                    <div class="user">
                                        <img src="{% static 'main\img\lk.svg' %}">
                                        <p>Войти</p>
                                    </div>
                                </a>
                            {% endif %}
                    </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>

    <div id="authorize-window" class="authorize-window">
        <div class="authorize-content" id="authorize-content">
            <div class="choose-authentication-form">
                <div class="log-in-button-div">
                    <button class="btn log-in" id="log-in">Войти</button>
                </div>
                <div class="registration-button-div">
                    <button class="btn register" id="register">Зарегистрироваться</button>
                </div>
            </div>

            <div class="log-in-content" id="log-in-content">

                <form method="post" enctype='multipart/form-data' action="{{ url_path }}">
                        <input name="__login_form" type="hidden">

                        <div class="form-group">
                            <label class="text-muted">Email</label>
                            {{ login_form.email }}
                        </div>
                        <div class="form-group">
                            <label class="text-muted">Пароль</label>
                            {{ login_form.password }}
                        </div>

                        {% if error %}
                        <div class="form_alert">
                            {{ error }}
                        </div>
                        {% endif %}

                        <div class="form-group text-center">
                            {% csrf_token %}

                            <button type="submit" class="btn ">Войти</button>
                        </div>


                    </form>

            </div>

            <div class="register-content" id="register-content">

                <div class="buttons_ar" id="buttons_ar">
                    <button class="btn register-client" id="register-client">Арендатор</button>
                    <button class="btn register-organizer" id="register-organizer">Арендодатель</button>
                </div>

                <div class="register-window-client" id="register-window-client">
                    <div class="forms_cl">
                        <form method="post" enctype='multipart/form-data' action="{{ url_path }}">
                            <input name="__client_register" type="hidden">

                            {% if client_errors.incorrect_form %}
                                <div class="form_alert">
                                    <p>Некорректные данные формы</p>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label class="text-muted">Email</label>
                                {{ user_client_registration_form.email }}
                                {% for error in client_errors.email %}
                                    <div class="form_alert">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label class="text-muted">Пароль</label>
                                {{ user_client_registration_form.password }}
                                {% for error in client_errors.password %}
                                    <div class="form_alert">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label class="text-muted">Повторите пароль</label>
                                {{ user_client_registration_form.repeat_password }}
                                {% for error in client_errors.repeat_password %}
                                    <div class="form_alert">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label class="text-muted">Фамилия</label>
                                {{ user_client_registration_form.last_name }}
                                {% for error in client_errors.last_name %}
                                    <div class="form_alert">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label class="text-muted">Имя</label>
                                {{ user_client_registration_form.first_name }}
                                {% for error in client_errors.first_name %}
                                    <div class="form_alert">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label class="text-muted">Отчество</label>
                                {{ profile_client_registration_form.middle_name }}
                                {% for error in client_errors.middle_name %}
                                    <div class="form_alert">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label class="text-muted">Номер телефона</label>
                                {{ profile_client_registration_form.phone_number }}
                                {% for error in client_errors.phone_number %}
                                    <div class="form_alert">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                            

                           <div class="form-group text-center">
                                {% csrf_token %}
                                <button type="submit" class="btn">Зарегистрироваться</button>
                            </div>
                        </form>
                    </div>
                      
                </div> 

                <div class="register-window-organizer" id="register-window-organizer">
                    
                    <form method="post" enctype='multipart/form-data' action="{{ url_path }}">
                        <input name="__organizer_register" type="hidden">

                        {% if organizer_errors.incorrect_form %}
                            <div class="form_alert">
                                <p>Некорректные данные формы</p>
                            </div>
                        {% endif %}

                        <div class="row">

                            <div class="col" style="flex-direction: column;">

                                <div class="form-group">
                                    <label class="text-muted">Фамилия</label>
                                    {{ user_organizer_registration_form.last_name }}
                                    {% for error in organizer_errors.last_name %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label class="text-muted">Имя</label>
                                    {{ user_organizer_registration_form.first_name }}
                                    {% for error in organizer_errors.first_name %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                 <div class="form-group">
                                    <label class="text-muted">Отчество</label>
                                    {{ profile_organizer_registration_form.middle_name }}
                                    {% for error in organizer_errors.middle_name %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label class="text-muted">Пароль</label>
                                    {{ user_organizer_registration_form.password }}
                                    {% for error in organizer_errors.password %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label class="text-muted">Повторите пароль</label>
                                    {{ user_organizer_registration_form.repeat_password }}
                                    {% for error in organizer_errors.repeat_password %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>


                            <div class="col" style="flex-direction: column;">

                                <div class="form-group">
                                    <label class="text-muted">Email</label>
                                    {{ user_organizer_registration_form.email }}
                                    {% for error in organizer_errors.email %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label class="text-muted">Номер телефона</label>
                                    {{ profile_organizer_registration_form.phone_number }}
                                    {% for error in organizer_errors.phone_number %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label class="text-muted">Позиция в компании</label>
                                    {{ profile_organizer_registration_form.position }}
                                    {% for error in organizer_errors.position %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                 <div class="form-group">
                                    <label class="text-muted">Юридическое имя</label>
                                    {{ profile_organizer_registration_form.juridical_name }}
                                    {% for error in organizer_errors.juridical_name %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <label class="text-muted">ИНН</label>
                                    {{ profile_organizer_registration_form.inn }}
                                    {% for error in organizer_errors.inn %}
                                        <div class="form_alert">
                                        {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="form-group text-center">
                                {% csrf_token %}
                                <button type="submit" class="btn">Зарегистрироваться</button>
                            </div>

                        </div>
                        
                    </form>
                </div>

            </div>

        </div>
    </div>

    <script src="{% static 'main\js\script.js' %}"></script>

    {% block content %}
    {% endblock %}
</body>
</html>