{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main\css\style.css' %}">
    <link rel="stylesheet" href="{% static 'main\css\modal.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <div class="container-fluid">
            <div class="container text-center">

                <div class="row">
                    <div class="col">
                        <a class="navbar-brand" href="#">
                        <img src="{% static 'main\img\aki.svg' %}" alt = "aki">
                        </a>
                    </div>
                    
                
                    <div class="col-6">
                        <div class="search">
                        <div class="bar">
                            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                            <!-- <input type="search" name="Поиск" placeholder="Поиск"> -->
                        </div>
                        <button class="button">Поиск</button>
                        </div>
                    </div>
                    
                    <div class="col" id="three">
                        <div class="icons">

                            <a href="#" id="open-catalog">
                            <div class="catalog">
                                <img src="{% static 'main\img\catalog.svg' %}">
                                <p>Каталог</p>
                            </div>
                            </a>

                            <a href="#" id="open-user">
                                <div class="user">
                                    <img src="{% static 'main\img\lk.svg' %}">
                                    <p>Войти</p>
                                </div>
                            </a>
                    </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>

    <div id="authorize-window" class="authorize-window">

        <div class="authorize-content" id="authorize-content">

            <div class="choose-authentication-form">

                <div class="enter">
                    <button class="btn log-in" id="log-in">Войти</button>
                </div>
                
                <div class="rega">
                    <button class="btn register" id="register">Зарегистрироваться</button>
                </div>
                
            </div>

            <div class="register-content" id="register-content">
                <button class="btn btn-warning register-client" id="register-client">Арендатор</button>
                <button class="btn btn-warning register-organizer" id="register-organizer">Арендодатель</button>

                <div class="register-window-client" id="register-window-client">
                    <p>Регистрация клиента</p>
                </div>

                <div class="register-window-organizer" id="register-window-organizer">
                    <p>Регистрация арендодателя</p>
                </div>
            </div>
            <div class="log-in-content" id="log-in-content">

                <form method="post" enctype='multipart/form-data' action="{% url 'login' %}">
                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="text-muted">Email</label>
                        {{ login_form.email }}
                    </div>
                    <div class="form-group">
                        <label class="text-muted">Пароль</label>
                        {{ login_form.password }}
                    </div>

                    <div class="form-group text-center">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <script src="{% static 'main\js\script.js' %}"></script>

    {% block content %}
    {% endblock %}
</body>
</html>