{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'main\css\style.css' %}"> 
</head>

<body>
    <dir class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <p>"Img"</p>
                </div>
            </div>
            
        </div>
        
    </dir>
    <p>Главная страница</p>
</body>
</html>