{% extends 'main/html_template.html' %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="main-body">

        <div class="title-main-str">
            <p style="margin: 0;">Бронирование креативных площадок</p>
        </div>
        <div class="cards-main">
            <div class="card1">
                <div class="ellipse11"></div>
                <div class="ellipse12"></div>
                <div class="ellipse13"></div>

                <div class="icon-for-card">
                    <img src="{% static 'main\img\pen.svg' %}" alt="договор">
                </div>
                <div class="title-for-card">
                    <p>Заключение договоров онлайн</p>
                </div>
            </div>
            <div class="card2">
                <div class="ellipse21"></div>
                <div class="ellipse22"></div>
                <div class="ellipse23"></div>

                <img src="{% static 'main\img\calendar-white.svg' %}" alt="договор">
                <div class="icon-for-card">

                </div>
                <div class="title-for-card">

                </div>
            </div>
            <div class="card3">
                <div class="ellipse31"></div>
                <div class="ellipse32"></div>
                <div class="ellipse33"></div>

                <img src="{% static 'main\img\landmark.svg' %}" alt="договор">
                <div class="icon-for-card">

                </div>
                <div class="title-for-card">

                </div>
            </div>
        </div>
    </div>
{% endblock %}