{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'main\css\style.css' %}"> 
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <img src="{% static 'main\img\aki.svg' %}">
                </div>
                <div class="search">
                    <div class="bar">
                        <p>Поиск</p>
                    </div>
                    <div class="button">
                        <p>Поиск</p>
                    </div>
                </div>
                <div class="icons">
                    <div class="catalog">
                        <img src="{% static 'main\img\catalog.svg' %}">
                        
                    </div>
                    <div class="user">
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</body>
</html>