{% extends 'main/html_template.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main\css\profile_page.css' %}">
    <script src="{% static 'main\js\profile_page.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-str">

    {% if user %}
        <p>АМОНГАС</p>
    {% endif %}

    {% if user.client %}
        <h1 class="text-white hat-of-profile">Профиль арендатора</h1>
     {% elif user.organizer %}
        <h1 class="text-white hat-of-profile">Профиль арендодателя</h1>
     {% endif %}
    <br>
    <div class="main-form" id="profile_form">
        <div class="form-group">
            <label class="text-muted">Email</label>
            {{ user.email }}
        </div>

        <div class="form-group">
            <label class="text-muted">Фамилия</label>
            {{ user.last_name }}
        </div>

        <div class="form-group">
            <label class="text-muted">Имя</label>
            {{ user.first_name }}
        </div>

         <div class="form-group">
            <label class="text-muted">Отчество</label>
             {% if user.client %}
                {{ user.client.middle_name }}
             {% elif user.organizer %}
                {{ user.organizer.middle_name }}
             {% endif %}
        </div>

        <div class="form-group">
            <label class="text-muted">Номер телефона</label>
            {% if user.client %}
                {{ user.client.phone_number }}
             {% elif user.organizer %}
                {{ user.organizer.phone_number }}
             {% endif %}
        </div>
    </div>
</div>

{% endblock %}
