/*Шрифты*/
@font-face{
    font-family: "Cera Pro Medium";
    font-style: normal;
    font-weight: medium;
    src: url("../fonts/CeraPro-Medium.ttf");
}
@font-face{
    font-family: "Cera Pro Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/CeraPro-Bold.ttf");
}
@font-face{
    font-family: "Cera Pro Black";
    font-style: normal;
    font-weight: black;
    src: url("../fonts/CeraPro-Black.ttf");
}

/*основная страница формы авторизации*/
.authorize-window {
    font-family: "Cera Pro Medium";
    font-weight: medium;
    font-size: 18px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.8);
}

.authorize-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #eeecec;
    margin: 10% auto;
    padding: 20px;
    border: 3px solid #888;
    border-radius: 7px;
    width: 60%;
    height: 80%;
}


/*кнопки сверху формы Войти и Зарег.*/
.up-form{
    width: 100%;
    height: 8%;
}

.choose-authentication-form {
    display: flex;
    position: relative;
    align-items: center;
    right: 1%;
    justify-content: flex-end;
    flex-direction: row;
}



.log-in-content {
    justify-content: center;
    background-color: #fefefe;
    padding: 20px;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly
}

.enter {
    padding: 1px 2%;
    border-bottom: 2px solid #E74362;
}

btn .log-in {
    padding: 0;
}
.log-in:hover{
    background-color: #E74362;
    border-radius: 10px 10px 0px 0px;
}

.rega {
    padding: 1px 2%;
    border-bottom: 2px solid #E74362;
}
.register:hover{
    background-color: #E74362;
    border-radius: 10px 10px 0px 0px;
}


/**/
.register-window-client{
    display: none;

}
.register-window-organizer{
    display: none;
}


/*форма для входа*/
.forma {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
}
.log-in-content{
    width: 80%;
    border-radius: 7px;
}
.forma button {
    width: 50%;
    background-color: #E74362;
    border: none;
    margin-top: 10%;
}
.buttons {
    display: flex;
    justify-content: center;
}


.buttons_ar {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}
.buttons_ar button {
    width: 35%;
    font-family: 'Cera Pro Black';
    color: #fff;
    font-size: 18px;
}
/*форма для регистрации*/

.register-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}
.colums {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    width: 90%;
    grid-gap: 10%;
}
.column1 {
}
.column2 {

}

.register-window-client {
    display: flex;
    align-items: center;
    height: 90%;
}
.register-content button {
    background-color: #E74362;
}