*, *:befor, *:after {
    background-size: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Cera Pro Medium";
    font-style: normal;
    font-weight: medium;
    src: url("../fonts/CeraPro-Medium.ttf");
}

@font-face {
    font-family: "Cera Pro Bold";
    font-style: normal;
    font-weight: medium;
    src: url("../fonts/CeraPro-Bold.ttf");
}

@font-face {
    font-family: "Cera Pro Black";
    font-style: normal;
    font-weight: medium;
    src: url("../fonts/CeraPro-Black.ttf");
}

.icons a {
    text-decoration: none;
    color: #fff;
}

/*фон*/
body {
    background: linear-gradient(to right, #192E43, #0D151D);
    opacity: 0.83;
    font-family: 'Cera Pro Medium';
    color: #fff;
}

/* Шапка */
.header {
    font-family: "Cera Pro Medium";
    width: 100%;
    height: 17%;
    padding-left: 0%;
    padding-right: 0%;
    background: linear-gradient(to right, #364F6D, #1B1E23);
}

#hat {
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
}

.header-inner {
    width: 100%;
    display: flex;
}

#logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*поисковая строка*/
.search {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.bar {
    display: flex;
    width: 100%;
}

.search p {
    font-size: 18px;
}

input[type="search"] {
    display: flex;
    background: #E0E0E0;
    outline: none;
    border: 0;
    border-bottom: 1px solid #eee;
    height: 46px;
    border-radius: 7px;
    width: 100%;
    font-size: 18px;
    padding: 20px;
}

.button {
    background: #E74362;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    height: 48px;
    border: 0;
    padding: 10px;
    border-radius: 7px;
    margin-left: 3%;
    font-family: 'Cera Pro Bold';
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Иконки*/

/*иконка каталога*/
#three {
    align-items: center;
}

.icons {
    padding-top: 1%;
    display: flex;
}

.catalog {
    display: flex;
    width: 77px;
    height: 71px;
    padding-top: 4px;
    flex-direction: column;
    align-items: center;
}

.catalog img {
    margin-top: 3px;
}

.href-catalog:hover{
    color: #0d6efd;
}

/*иконка личного кабинета*/
.user {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
}

.user img {
    margin-bottom: 1px;
}

.icons p {
    margin: 1px;
}

.catalog p {
    margin-top: 9px;
}

img + ul {
    display: none
}

img:hover + ul {
    display: block
}

a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .1s linear;
}


.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topmenu > li:last-child {
    margin-right: 0;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}


.submenu ul a {
    color: #000 !important;
    font-size: 16px;
    text-align: left;
}

.three {
    display: flex;
    justify-content: center;
    height: 100%;
}

.three .submenu {
    visibility: hidden;
    opacity: 0;
}

.three ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
    background: #D9D9D9;
    border-radius: 7px;
}

.submenu {
    color: #000;
    padding: 10px 10px 0 10px;
    position: absolute;
    top: 100%;
    height: max-content;
    width: 10rem;
    z-index: 1;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.submenu li {
    margin-bottom: 8px;
}

.submenu a {
    color: #000;
    text-align: left;
    padding-left: 2px;
}

.submenu a:hover {
    background: #E74362;
    color: #fff;
    border-radius: 7px;
    padding-left: 5px;
}
/*Конец шапки*/


/*Главная страница*/
.main-body {
    height: 90vh;
    width: 100%;
    padding: 1% 4%;
}
.title-main-str{
    font-size: 65px;
    font-family: 'Cera pro Bold';
    color: #fff;
    overflow: hidden;
    width: 80%;
}

.cards-main {
    display: grid;
    height: 80%;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 30%);
    width: 100%;
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 3%; /* Отступ между колонками */
    margin: 0 auto;
}

.card1, .card2, .card3 {
    background: linear-gradient(230.64deg, rgba(25, 46, 67, 0.92) 0%, rgba(13, 21, 29, 0.92) 100%);
    box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 88%;
    width: 100%;
    overflow: hidden;
}

.card1 div, .card2 div, .card3 div{
    position: relative;
}

.card1 img, .card2 img, .card3 img{
    height: 50%;
    width: 50%;
    z-index: 1;
    position: relative;
    top: -180px;
    left: 65%;
}

.card2 img{
    margin-top: 4%;
}

.card3 img{
    margin-top: 7%;
}

.card1 {
    margin-top: 14%;
}
.card2 {
    margin-top: 7%;
}




.ellipse11 {
    height: 12%;
    width: 12%;
    left: 125px;
    top: 60px;
    border-radius: 55px;
    background: rgba(56, 214, 42, 0.50);
    filter: blur(27.5px);
}

.ellipse12{
    height: 22%;
    width: 35%;
    left: 20px;
    top: 190px;
    background: rgba(97, 44, 150, 0.80);
    filter: blur(45px);
    border-radius: 90px;
}
.ellipse13{
    height: 17%;
    width: 20%;
    left: 235px;
    top: 70px;
    border-radius: 85px;
    background: rgba(93, 42, 42, 0.9);
    filter: blur(42.5px);
}


.ellipse21{
    height: 8%;
    width: 8%;
    left: 75px;
    top: 80px;
    border-radius: 55px;
    background: #3F2FF0;
    filter: blur(27.5px);
}
.ellipse22{
    height: 17%;
    width: 15%;
    left: 220px;
    top: 160px;
    border-radius: 85px;
    background: rgba(80, 93, 42);
    filter: blur(42px);
}

.ellipse23{
    height: 22%;
    width: 20%;
    left: 40px;
    top: 150px;
    border-radius: 90px;
    background: #472C96;
    filter: blur(45px);
}


.ellipse31{
    height: 7%;
    width: 5%;
    left: 170px;
    top: 35px;
    border-radius: 55px;
    background: #C234DE;
    filter: blur(27px);
}

.ellipse32{
    height: 15%;
    width: 19%;
    left: 60px;
    top: 130px;
    border-radius: 85px;
    background: #7C6206;
    filter: blur(42px);
}

.ellipse33{
    height: 22%;
    width: 20%;
    left: 220px;
    top: 190px;
    border-radius: 90px;
    background: #3009A0;
    filter: blur(45px);
}



/*Конец главной страницы*/

/* Position child elements relative to this element */
.aspect-ratio-box-catalogue {
    position: relative;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box-catalogue::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio */
    padding-bottom: 40%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box-catalogue img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Position child elements relative to this element */
.aspect-ratio-box-carousel {
    position: relative;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box-carousel::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box-carousel img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
